# Data Science & Analysis
pandas
numpy
scipy
scikit-learn
statsmodels
matplotlib
seaborn
jupyterlab

# Quant Finance
yfinance
backtrader
pyfolio-reloaded
QuantLib-Python

# Data Engineering & SQL
sqlalchemy
psycopg2-binary # Pour PostgreSQL si besoin plus tard
python-dotenv

# Tests
pytest
requests
beautifulsoup4
